// 手機且優先
@media (min-width: 0px) {
    #mobile__carousel {
        display: block;
        margin-top: 50px;
        img {
            border: 3px solid black;
            border-radius: 15px;
            max-width: 80vw;
            margin: 0 auto;
        }
    }
    .carousel-indicators {
        bottom: -60px;
        button {
            width: 10px!important;
            height: 10px!important;
            border-radius: 50% !important;
            background-color: #787878 !important;
            border: none;
            margin: 5px;
        }
    }
    // 平板到筆電
    @media (min-width: 576px) {
        #mobile__carousel {
            display: none;
        }
    }
    // 桌機
    @media (min-width: 992px) {}
}