@media (min-width: 0px) {
    #mobile__nav {
        top: 0;
        width: 300px;
        min-height: 100vh;
        background-color: #FFFBBF;
        position: fixed;
        left: -100%;
        transition: left 0.3s;
    }
    #menu-toggle {
        display: none;
    }
    #nav-blur {
        display: none;
        z-index: -2;
        width: calc(100vw - 300px);
        height: 100%;
        left: calc(200vw);
        background-color: rgba(255, 255, 255, 0.758);
        position: absolute;
        transition: left 0.3s;
    }
    #menu-toggle:checked~#mobile__nav {
        left: 0;
        #nav-blur {
            display: block;
            left: calc(300px);
        }
    }
    #nav-close {
        left: 320px;
        scale: 2;
        z-index: -1;
        padding: 10px;
        top: calc(25vh - 20px);
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
    }
    // 平板到筆電（可加內容或移除）
    @media (min-width: 576px) {}
    // 桌機隱藏選單
    @media (min-width: 768px) {
        #mobile__nav {
            display: none;
        }
    }
}